<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601896213062-8chvbnf1se67mut4t8ufkrp9ihoepgfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601896213062-8chvbnf1se67mut4t8ufkrp9ihoepgfp</string>
	<key>API_KEY</key>
	<string>AIzaSyB3Mw41Xvgj_Pk1KyL5L29Mi0wqfmz8lHg</string>
	<key>GCM_SENDER_ID</key>
	<string>601896213062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.alanerturk.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-d0a4f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-d0a4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601896213062:ios:a4b1fb29b4a18fa80d8847</string>
</dict>
</plist>